root { 
    display: block;
}

/*-------------------- header --------------------*/
#header{
    width: 100%;
    margin-left: auto; 
    margin-right: auto;
}

#header h1{
    padding-left: 50px;
}

/*-------------------- container --------------------*/
#container{ 
    width: 99%;
    margin-left: auto; 
    margin-right: auto; 

    min-height:80vh;
    height:auto !important;
    height:80vh;
}

/*-------------------- content --------------------*/
#bottom{
    border: 1px solid black;
    width: 95%;
    margin-top: 20px;
    padding: 5px 5px 5px 15px;
}

/*-------------------- filling box --------------------*/
.fill{
    border:1px solid;
    padding: 5px;
    margin: 10px;
    border-collapse: collapse;
}

/*-------------------- navigation --------------------*/
#top{
    border: 1px solid black;    
    width: 95%;
    margin: 0;
    padding: 5px 5px 5px 15px;
}

ul {
    list-style-type: none;
    margin: 5px;
    padding: 0px;
}

li {
    display: inline;
    line-height: 1.8em;
    padding-left: 30px;
}

li a 
{
    text-decoration: none;
}

li a:hover
{
    background-color: #e8eef4;
}

/*-------------------- login --------------------*/
#login{
    border: 0px solid black; 
    width: 30%;
    margin-left: auto; 
    margin-right: auto; 
    padding: 10px;   
}

/*-------------------- table --------------------*/
table{ 
    padding: 3px;   
    margin: 10px;
}

/*-------------------- pagination --------------------*/
.paginate {
    font-family:Arial, Helvetica, sans-serif;
    padding: 3px;
    margin: 3px;
}

.paginate a {
    padding:2px 5px 2px 5px;
    margin:2px;
    border:1px solid #999;
    text-decoration:none;
    color: #666;
}

.paginate a:hover, .paginate a:active {
    border: 1px solid #999;
    color: #000;
}

.paginate span.current {
    margin: 2px;
    padding: 2px 5px 2px 5px;
    border: 1px solid #999;

    font-weight: bold;
    background-color: #999;
    color: #FFF;
}

.paginate span.disabled {
    padding:2px 5px 2px 5px;
    margin:2px;
    border:1px solid #eee;
    color:#DDD;
}